<div id="container">

	<a href="http://www.facebook.com/emposeats"><span class="facebook_become_fan_button">&nbsp;</span></a>

	<div class="header">
		<%= image_tag "logo2.gif" %>
		<a href="http://itunes.apple.com/us/app/emposeats/id357603000?mt=8" style="margin:0 0 0 20px;"><%= image_tag "appstore_small.png" %></a>
	</div>

	<div class="clear">&nbsp;</div>

	<div class="info">

		<div class="counter">
			<div class="refresh">
				<%= render partial: 'emposeats/seats', locals: {seats: @seats, currentstats: @currentstats } %>
			</div>
		</div>

		<div class="graph">

			<ul id="graph-links">
				<li class="active"><a href="#" data-graph="24hr">Past 24 Hours</a></li>
				<li><a href="#" data-graph="minutes">Availability by Minute</a></li>
				<li><a href="#" data-graph="hours">Availability by Hour</a></li>
				<li><a href="#" data-graph="days">Availability by Day</a></li>
				<li><a href="#" data-graph="future-hours">Next 24 Hours</a></li>
				<li><a href="#" data-graph="future-days">Next 7 Days</a></li>
			</ul>

			<div id="graph-hours" style="display:none;">
				<div id="chartdiv2" style="text-align:right;"></div>
				<script type="text/javascript">
					var chart = new FusionCharts("swf/Column3D.swf", "ChartId", "580", "220", "0", "0");
					chart.setDataURL("graph/hours");
					chart.render("chartdiv2");
				</script>
			</div>

			<div id="graph-minutes" style="display:none;">
				<div id="chartdiv" style="text-align:right;"></div>
				<script type="text/javascript">
					var chart = new FusionCharts("swf/Line.swf", "ChartId", "570", "220", "0", "0");
					chart.setDataURL("graph/minutes");
					chart.render("chartdiv");
				</script>
			</div>

			<div id="graph-days" style="display:none;">
				<div id="chartdiv3" style="text-align:right;"></div>
				<script type="text/javascript">
					var chart = new FusionCharts("swf/Column3D.swf", "ChartId", "580", "220", "0", "0");
					chart.setDataURL("graph/days");
					chart.render("chartdiv3");
				</script>
			</div>
			<div id="graph-24hr">
				<div id="chartdiv4" style="text-align:right;"></div>
				<script type="text/javascript">
					var chart = new FusionCharts("swf/MSLine.swf", "ChartId", "580", "220", "0", "0");
					chart.setDataURL("graph/24hr");
					chart.render("chartdiv4");
				</script>
			</div>
			<div id="graph-future-hours" style="display:none;">
				<div id="chartdiv6" style="text-align:right;"></div>
				<script type="text/javascript">
					var chart = new FusionCharts("swf/Column3D.swf", "ChartId", "580", "220", "0", "0");
					chart.setDataURL("graph/future_hours");
					chart.render("chartdiv6");
				</script>
			</div>
			<div id="graph-future-days" style="display:none;">
				<div id="chartdiv7" style="text-align:right;"></div>
				<script type="text/javascript">
					var chart = new FusionCharts("swf/Column3D.swf", "ChartId", "580", "220", "0", "0");
					chart.setDataURL("graph/future_days");
					chart.render("chartdiv7");
				</script>
			</div>

		</div>

	</div>

	<div class="clear">&nbsp;</div>

	<div class="content">

		<h2 style="margin:0 0 15px 0;padding:0;">Daily Usage</h2>

		<table width="920" cellpadding="5" cellspacing="0" border="0">
		<tr class="table_header">
		<td>Date</td>
		<td>Busiest Hour</td>
		<td>Calmest Hour</td>
		<td>Average Open Seats</td>
		<td>Estimated Total Check-ins</td>
		</tr>

		<% @dailystats.each do |dailystat| %>
			<tr class="data">
				<td><%=Date.parse(dailystat.date).strftime('%A, %B %e, %Y')%></td>
				<td><%=dailystat.busy%></td>
				<td><%=dailystat.calm%></td>
				<td><strong><font class="<%=get_color_class(dailystat.average)%>"><%=dailystat.average%></font></strong></td>
				<td><%=dailystat.checkins%> </td>
			</tr>
		<% end %>

		</table>

	</div>

	<div class="clear">&nbsp;</div>

	<div class="footer">
		<span style="float:left;">&copy; <%=Time.new.strftime('%Y')%> www.emposeats.com</span><%=@quote%>
	</div>

</div>
